/* 
Crashing Waves: Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev pd0
K18 -- CSS basics
2021-11-23t
time spent: 1.5 hours

WORK FILE for CSS 	 
*/


body {
    background-color: #5e5d5d;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: rgb(173, 173, 173);
    color: white;
    text-align: center;
}

ul {
    list-style-type: none; 
    display: relative; 
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.overallbody {
    background-color: #636262;
}

.navfoo {
    display: inline-block;
    padding-right: 10px;
    text-align: justify;
}

.mainfoo {
    display: inline-block;
    padding-right: 50px;
    text-align: justify;
}

.bottom {
    text-align: right;
    background-color: #555555;
    color: #706f6f; 
    padding: 10px;
}